@import "tailwindcss";

@font-face {
  font-family: 'Eina';
  src: url('/fonts/Eina/Eina03-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eina';
  src: url('/fonts/Eina/Eina03-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'YTSans', sans-serif;
}